@charset "utf-8";
/* CSS Document */
/*General page layout*/
/*---------------------------------------------------------------------------
1. header_top_bg
	1.1 header_top
			- logo
			- phone number
2. wrapper_bg
	2.1 wrapper
		2.1.1 header
				- slider
				- subscribe
				- button with tagline
		2.1.2 social
				- twitter
				- facebook
		2.1.3 content
				- column_half
		      		- features 
				- column_half_last
					- general info
					- gallery
		2.1.5 content_bottom
				- three "columns" for
					- testimonial
					- payment method
					- contact form
3. footer_bg
	3.1 footer
			- copyright
			- some links
---------------------------------------------------------------------------*/
body {
	background: url(../images/body-bg.jpg) repeat #ffffff;
	font-family: Cuprum, Helvetica, sans-serif;
	font-size:14px;
	font-weight:normal;
	color: #6e6e6e;
	line-height: 1.6em;
	width:  100%;
}
.clear {
	clear:both;
}
/*Typography and default*/
/*---------------------------------------------------------------------------*/
h1, h2, h3, h4 {
	color: #303030;
	line-height: 1em;
	font-weight: normal;
}/*Margin bottom to headings as line-height property do not work well with many browsers in case of cufon*/
h1 {
	font-size: 30px;
	margin-bottom: 30px;
	text-align: center;
}
logo {
	font-size: 30px;
	margin-bottom: 30px;
	float:left;
	overflow:hidden; 
	position:absolute;
}
#phone-now {

    color: #333333;
    float: right;
    font-size: 28px;
    padding-top: 10px;
	font-family: Cuprum;
	text-indent: 1.5em;

}


h2 {
	font-size: 22px;
	color:FA6900;
}
.tm {
	font-size: 22px;
	color: #FA6900;
	margin-bottom: 15px;
}
h3 {
	font-size: 18px;
	margin-bottom: 15px;
}
h4 {
	font-size: 16px;
	margin-bottom: 15px;
}
a {
	color: #6e6e6e;
	text-decoration: none;
	cursor: pointer;
}
/*header_top*/
/*---------------------------------------------------------------------------*/
#header_top_bg {
	background: url(../images/header-bg.png) repeat-x;
	width: 100%;
	height: 85ppx;
}
#header_top {
	width: 940px;
	margin: 0 auto;
	padding: 20px 0px;
}
/*----------logo----------*/
.logo {
	float: left;
}
/*----------phone number----------*/
#header_top p {
	float: right;
	font-size: 20px;
	padding-top: 10px;
}
#header_top span {
	color: #303030;
	font-size: 28px;
}
/*wrapper*/
/*---------------------------------------------------------------------------*/
#wrapper_bg {
	background: url(../images/wrapper-bg.png) repeat-x;
	width: 100%;
}
#wrapper {
	width: 940px;
	margin: 0 auto;
	padding: 0;
}
/*header*/
/*---------------------------------------------------------------------------*/
#header {
	width: 940px;
	float: left;
	padding: 25px 0px 30px 0px;
}
/*----------image slider----------*/
#slider_bg {
	width: 600px;
	height: 355px;
	margin-right: 30px;
	margin-bottom: 30px;
	padding: 4px;
	background: #f8f8f8;
	border: 1px solid #e5e5e5;
	float: left;
}
#slider {
	width: 600px;
	height: 355px;
}
/*----------subscribe----------*/
.subscribe_bg {
	width: 290px;
	height: 355px;
	margin-bottom: 30px;
	padding: 4px;
	background: #f8f8f8;
	border: 1px solid #e5e5e5;
	float: left;
}
.subscribe {
	background: url(../images/subscribe-form-bg.jpg) repeat;
	width: 250px;
	height: 315px;
	padding: 20px;
}
.subscribe h2 {
	margin-bottom: 15px;
}
.subscribe p {
	padding-bottom: 5px;
}
/*----------subscribe form----------*/
form#subform {
	width: 250px;
}
form#subform fieldset {
	border: none;
	background: none;
}
form#subform fieldset p {
	background: none;
	padding: 0;
	margin: 0;
	display: block;
}
form#subform input {
	width: 238px;
	height: 28px;
	padding: 5px;
	margin: 10px 0px 0px 0px;
	font-family: Cuprum, Verdana, sans-serif;
	font-size: 18px;
	color: #6e6e6e;
	line-height: 2em;
	background-color: #ffffff;
	border: 1px solid #d7d7d7;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	outline: none;
	float: left;
}
form#subform input.submit {
	background: url(../images/download-btn.png) no-repeat 0 0;
	width: 250px;
	height: 40px;
	margin: 10px 0px 0px 0px;
	color: #fffefe;
	font-size: 14px;
	font-weight: bold;
	border: none;
	cursor: pointer;
	outline: none;
	display: block;
}
/*label error is not used for this variation, so display none*/
form#subform label.error {
	font-size: 0px;
	line-height: 0em;
	width: 0px;
	height: 0px;
	text-align: right;
	margin: 0;
	padding: 0;
	display: none !important;
}
form#subform input.error {
	width: 238px;
	height: 28px;
	padding: 5px;
	border: 1px solid #c52c02;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}
form#subform #result_sub {
	width: 250px;
	float: left;
	text-align: right;
}
/*----------tagline----------*/
#tagline {
	width: 940px;
	padding-right: 20px;
	font-size: 22px;
	color: #303030;
	float: left;
}
/*----------buttons----------*/
.button_1 {
	background: url(../images/buy-btn.png) no-repeat;
	width: 145px;
	height: 40px;
	float: left;
}
.button_1 a {
	margin-left: 32px;
	margin-top: 9px;
	color: #fffefe;
	font-size: 14px;
	font-weight: bold;
	display: block;
}
/*social*/
/*---------------------------------------------------------------------------*/
#social {
	width: 940px;
	height: 45px;
	padding: 0;
	margin-bottom: 30px;
	border-bottom: 1px solid #e5e5e5;
	border-top: 1px solid #e5e5e5;
	overflow: hidden;
	line-height: 1.2em;
	float: left;
}
#twitter {
	width: 740px;
	float: left;
}
.tweet_bird {
	float: left;
	margin-right: 15px;
	margin-top: 5px;
}
.twitter li {
	list-style: none;
	padding: 10px 10px 10px 0px;
	font-size: 11px;
	overflow: hidden;
	margin: 0;
}
.tweet_time {
	display: none;
}
/*columns in main content area*/
/*---------------------------------------------------------------------------*/
#content {
	width: 940px;
	float: left;
}
.column_half {
	width: 460px;
	float: left;
	margin-bottom: 30px;
	margin-right: 20px;
}
.column_half_last {
	width: 460px;
	float: left;
	margin-bottom: 30px;
}
.column_half_last p {
	padding-bottom: 10px;
}
.column_half h4 {
	margin-bottom: 10px;
}
/*----------features----------*/
.feature_center {
	width: 460px;
	float: left;
	padding: 20px 0px;
	text-align: center;
}
.feature_topleft {
	background: url(../images/feature-box-right-bottom.png) no-repeat bottom right;
	width: 158px;
	padding: 30px;
	margin-right: 20px;
	background-color: #f8f8f8;
	border: 1px solid #e5e5e5;
	float: left;
	font-size:13px;

}
.feature_topright {
	background: url(../images/feature-box-left-bottom.png) no-repeat bottom left;
	width: 158px;
	padding: 30px;
	background-color: #f8f8f8;
	border: 1px solid #e5e5e5;
	float: left;
		font-size:13px;
}
.feature_bottomleft {
	background: url(../images/feature-box-right-top.png) no-repeat top right;
	width: 158px;
	padding: 30px;
	margin-right: 20px;
	background-color: #f8f8f8;
	border: 1px solid #e5e5e5;
	float: left;
		font-size:13px;
}
.feature_bottomright {
	background: url(../images/feature-box-left-top.png) no-repeat top left;
	width: 158px;
	padding: 30px;
	background-color: #f8f8f8;
	border: 1px solid #e5e5e5;
	float: left;
		font-size:13px;
}
.feature_topleft:hover, .feature_topright:hover, .feature_bottomleft:hover, .feature_bottomright:hover {
	background-color: #e5e5e5;
}
/*----------list with bullet----------*/
ul.star_bullet {
	list-style: none;
	padding-bottom: 30px;
}
ul.star_bullet li {
	background: url(../images/bullet.png) no-repeat 0 7px;
	padding-left: 20px;
	line-height: 2em;
	display: block;
}
/*----------gallery----------*/
ul.gallery li {
	width: 70px;
	height: 70px;
	margin-bottom: 5px;
	margin-right: 8px;
	padding: 0;
	list-style: none;
	display: block;
	float: left;
}
ul.gallery li:nth-child(6n) {
 margin-right: 0px;
}
/*class "last_image" to every third li as nth child property do not work in IE*/
ul.gallery li.last_image {
	margin-right: 0;
}
ul.gallery li img {
	background: #f8f8f8;
	border: 1px solid #e5e5e5;
	padding: 4px;
}
/*content_bottom*/
/*---------------------------------------------------------------------------*/
#content_bottom_bg {
	width: 100%;
	background-color: #f8f8f8;
	border-top: 1px solid #e5e5e5;
	padding-bottom: 20px;
}
#content_bottom {
	width: 940px;
	margin: 0 auto;
}
#content_bottom p {
	padding-bottom: 5px;
}
#content_bottom a:hover {
	border-bottom: 1px solid #6e6e6e;
}
/*---------- 3 columns----------*/
.column_3 {
	width: 300px;
	margin: 20px 0px 0px 0px;
	padding: 0px 20px 0px 0px;
	float: left;
}
.column_3_last {
	width: 300px;
	margin: 20px 0px 0px 0px;
	padding: 0;
	float: left;
}
/*----------testimonial----------*/
.testimonial span {
	font-size: 10px;
	color: #303030;
	font-weight: bold;
}
/*----------payment----------*/
ul.payment li {
	padding-right: 5px;
	list-style: none;
	background: none;
	float: left;
}
/*----------contact form----------*/
form#form {
	width: 300px;
}
form#form fieldset {
	border: none;
	background: none;
	width: 300px;
}
form#form fieldset p {
	background: none;
	padding: 0;
	margin: 0;
	display: block;
	width: 145px;
}
form#form fieldset p.submit_btn {
	width: 300px;
}
form#form fieldset .left {
	width: 115px;
	float: left;
	margin-right: 10px;
}
form#form fieldset .right {
	width: 175px;
	float: left;
}
form#form label {
	width: 115px;
	color: #303030;
	font-size: 12px;
	float: left;
	display: inline-block;
}
form#form input {
	width: 103px;
	height: 15px;
	padding: 5px;
	margin: 0;
	font-family: Arial, Trebuchet MS, Verdana, sans-serif;
	font-size: 12px;
	color: #6e6e6e;
	line-height: 1.4em;
	background-color: #ffffff;
	border: 1px solid #d7d7d7;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	outline: none;
	float: left;
}
form#form textarea {
	width: 163px;
	height: 60px;
	padding: 5px;
	font-family: Arial, Trebuchet MS, Verdana, sans-serif;
	font-size: 12px;
	color: #6e6e6e;
	line-height: 1.2em;
	background-color: #ffffff;
	border: 1px solid #d7d7d7;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	outline: none;
	float: left;
}
form#form input.submit {
	background: url(../images/submit-btn.png) no-repeat 0 0;
	width: 70px;
	height: 28px;
	margin: 5px 0px 0px 0px;
	padding: 0 !important;
	border: none;
	cursor: pointer;
	outline: none;
	float: right;
}
/*contact form errors*/
/*label error is not used in this template's contact form*/
form#form label.error {
	font-size: 0px;
	line-height: 0em;
	width: 0px;
	margin: 0;
	padding: 0;
	display: none !important;
}
form#form input.error {
	border: 1px solid #c52c02;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}
form#form textarea.error {
	border: 1px solid #c52c02;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}
/*contact form result*/
form#form #result {
	width: 300px;
	float: left;
	text-align: right;
	height: 12px;
}
/*footer*/
/*---------------------------------------------------------------------------*/
#footer_bg {
	background: url(../images/footer-bg.jpg) repeat;
	width: 100%;
}
#footer {
	width: 940px;
	margin: 0 auto;
	padding: 20px 0px;
	font-size: 11px;
}
#footer p {
	float: left;
}
#footer ul {
	float: right;
}
#footer ul li {
	list-style: none;
	background: none;
	float: left;
	padding-left: 10px;
}
#footer ul li a:hover {
	border-bottom: 1px solid #6e6e6e;
}
